.color-div1{
    background-color: aquamarine;
    width: 50px;
}
.color-div2{
    background-color: rgb(255, 153, 127);
    width: 75px;
}
.color-div3{
    background-color: rgb(176, 127, 255);
    width: 100px;
}